<html>
    <head>
        <title>Shareet Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/shareetdashboard.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body>

        <div class="og-sidebar og-red-l3">
            <div class="og-sidebar-top og-red-d2">
                <i class="fa fa-money"></i>
            </div>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-home"></i> Home</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-money"></i> Purchases</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-tags"></i> Tags</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-group"></i> Friends</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-history"></i> History</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-bell-o"></i> Notifications</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-gear"></i> Settings</a>
        </div>

        <div class="og-content-area">
            <div class="og-card">
                <div class="og-card-title">
                    Title
                </div>
                <div class="og-card-text">
                    Text
                </div>
            </div>
        </div>
    </body>
</html>
