<html>
    <head>
        <title>Shareet Dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/shareetdashboard.css">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}
        </style>
    </head>
    <body>

        <div class="og-sidebar og-red-l3">
            <div class="og-sidebar-top og-red-d2">
                <i class="fa fa-money"></i>
            </div>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-home"></i> Home</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-money"></i> Purchases</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-handshake-o"></i> Payments</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-user-circle"></i> Groups</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-group"></i> Friends</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-history og-spin-l"></i> History</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-bell-o"></i> Notifications</a>
            <a href="#" class="og-sidebar-item og-red-l3"><i class="fa fa-gear og-spin"></i> Settings</a>
            <a href="/logout" class="og-sidebar-item og-red-l3"><i class="fa fa-sign-out"></i> Logout</a>
        </div>

        <div class="og-content-area">
            <% include dashboardcards/welcome.ejs %>
            <% include dashboardcards/purchases.ejs %>
            <% include dashboardcards/payments.ejs %>
            <% include dashboardcards/groups.ejs %>
            <% include dashboardcards/friends.ejs %>
            <% include dashboardcards/history.ejs %>
            <% include dashboardcards/notifications.ejs %>
            <% include dashboardcards/settings.ejs %>
        </div>

        <div class="og-side-card">
            <button>Add Purchase</button> <br>
            <button>Add Payment</button> <br>
            <button>Add Group</button> <br>
            <button>Add Friend</button> <br>
        </div>

    </body>
</html>
