<!DOCTYPE html>
<html>
    <head>
        <% include ejs/head.ejs %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/w3style.css">
        <link rel="stylesheet" href="css/modals.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
            .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
            .fa-anchor,.fa-coffee,.fa-briefcase,.fa-cubes {font-size:200px}
        </style>
        <script>
            window.onclick = function(event) {
                var singUpModal = document.getElementById('signUpModal');
                var loginModal = document.getElementById('loginModal');
                if (event.target == loginModal || event.target == signUpModal) {
                    signUpModal.style.display = "none";
                    loginModal.style.display = "none";
                }
            }
        </script>
    </head>

    <body>
    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
      <h1 class="w3-margin w3-jumbo">Shareet</h1>
      <p class="w3-xlarge">Nunca esqueça suas dívidas. Nem quem o deve.</p>
      <button onclick="document.getElementById('loginModal').style.display='block'" class="w3-button w3-padding-large w3-large w3-margin-top curvedButton buttonOutline">Login</button>
      <button onclick="document.getElementById('signUpModal').style.display='block'" class="w3-button w3-padding-large w3-large w3-margin-top curvedButton buttonOutline">Inscreva-se</button>
    </header>

    <!-- SignUp Modal -->
    <div id="signUpModal" class="modal">
      <span onclick="document.getElementById('signUpModal').style.display='none'" class="close" title="Close Modal">×</span>
      <form class="modal-content animate" action="signup" method="post">
        <div class="container">
          <label><b>Nome</b></label>
          <input type="text" placeholder="Enter Name" name="name" required>

          <label><b>Usuário</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required>

          <label><b>Senha</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label><b>Repita a Senha</b></label>
          <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

          <div class="clearfix">
            <button type="submit" class="signupbtn">Cadastrar</button>
          </div>
        </div>
      </form>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="modal">
      <span onclick="document.getElementById('loginModal').style.display='none'" class="close" title="Close Modal">×</span>
      <form class="modal-content animate" action="/action_page.php">
        <div class="container">
          <label><b>Usuário</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>

          <label><b>Senha</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <div class="clearfix">
            <button type="submit" class="signupbtn">Login</button>
          </div>
        </div>
      </form>
    </div>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Pague Primeiro. Divida Depois.</h1>
          <h5 class="w3-padding-16">E não se preocupe. Nós anotaremos tudo que você pagar e todos que devem ajudá-lo a pagar.</h5>
          <p class="w3-text-grey">Lembra daquela vez que alguém no seu grupo pagou por algo, e todos concordaram em dividir? Como vocês controlaram quem já havia pago a sua parte e quem não? Agora imagine uma viagem que você tenha pagado pela passagem de trem para ir para Kiruna, Robert pagou a passagem de volta, Charly o hotel da primeira noite, Julio o hotel das outras duas e Sussie pagou as entradas para uma atração local. Parece mais difícil de controlar? Bem, não com Shareet.</p>
        </div>
        <div class="w3-third w3-center">
          <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
        </div>
      </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>
        <div class="w3-twothird">
          <h1>É rápido. É simples.</h1>
          <h5 class="w3-padding-16">Toda vez que pagares por algo, apenas nos diga quanto custou e quem, entre seus amigos, ajudárão a pagar.</h5>
          <p class="w3-text-grey">Mostraremos o histórico de tudo que você comprou e tudo o que concordou em dividir, todos que te pagaram e todos para quem você pagou. Nós também mostraremos todos que devem algo para você, e o lembraremos de todos para quem você deve. Ah, e sabia que somos bons com matemática? Então deixe conosco! Se 30 pessoas devem para você por 100 diferentes motivos, nós mostraremos o total que cada um deve para você!</p>
        </div>
      </div>
    </div>

    <!-- Third Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-twothird">
          <h1>Você não fará tudo sozinho.</h1>
          <h5 class="w3-padding-16">Seria demais para você registrar todos os pagamentos que recebesse sozinho.</h5>
          <p class="w3-text-grey">Portanto, todo amigo seu que concordou em dividir os custos de algum produto ou evento com você poderá nos dizer que realizou um pagamento para você. Afinal, é do interesse deles que você lembre que eles já pagaram. E que eles lembrem também, claro. Apesar de não esperarmos que alguém minta sobre ter pagado algo que não pagou, você terá a opção de confirmar todos os pagamentos que recebeu, se desejar.</p>
        </div>
        <div class="w3-third w3-center">
          <i class="fa fa-briefcase w3-padding-64 w3-text-red"></i>
        </div>
      </div>
    </div>

    <!-- Fourth Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <div class="w3-content">
        <div class="w3-third w3-center">
          <i class="fa fa-cubes w3-padding-64 w3-text-red w3-margin-right"></i>
        </div>
        <div class="w3-twothird">
          <h1>Organização é tudo.</h1>
          <h5 class="w3-padding-16">Você talvez tenha grupos de amigos com quem realiza alguma atividade semanal, ou com quem está viajando. Se esse for o caso, provavelmente faria sentido separá-los em grupos, certo?</h5>
          <p class="w3-text-grey">Com a criação de etiquetas para pessoas, compras e pagamentos, tudo estará muito mais organizado. Você encontrará as pessoas certas mais facilmente na hora de registrar compras, poderemos mostrá-los os valores separados de forma ajeitada. Logo, o Shareet ficará muito mais bonito (mais do que já é).</p>
        </div>
      </div>
    </div>

    <!-- Before Footer -->
    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Aproveite</h1>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
      <div class="w3-xlarge w3-padding-32">
        <a href="https://www.facebook.com/theogygiaproject/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
     </div>
     <p>Powered by <a href="https://ogygialoves.me" target="_blank">The Ogygia Project</a></p>
    </footer>

  </body>
</html>
