<div class="og-card">
    <div class="og-card-title">
        Settings
    </div>
    <div class="og-card-text">
        Language: English ~ yes that's hardcoded, fuck you <br>
        Other Settings: TODO
    </div>
</div>
